div#leftBar{
  
  position: absolute;
  width: 40%; 
  background-color:white;
  border: 1px solid gray 
}
div#searchDiv{
  padding-top:10%; 
  text-align: center;
  height: 100px;
  background-color:#FFFFFF; 
  border: 1px solid gray;
}
.dmDivActive{
  padding-left:2.5%;
  padding-right:2.29%;
  padding-bottom:7.42%;
  padding-top:1.95%;
  padding-top:15px;
  border-bottom: 2px solid gray;
  background-color: #F5F5F5;
}
.dmDiv{
  padding-left:2.5%;
  padding-right:2.29%;
  padding-bottom:7.42%;
  padding-top:1.95%;
  padding-top:15px;
  border-bottom: 2px solid gray;
  background-color: #ffffff;
}
.inner{ 
  background-color:  #EAEAEA;
  border-bottom: 2px solid gray;
  border-radius: 10px; 
  width: 80%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 100%;
}

#searchbtn{
  width: 30%;
  border: 3px solid #979797;
  border-left: 0px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
#searchbtn:hover{
  font-size: 15px;
}
.searchTerm {
  width: 30%;
  border: 3px solid #979797;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
}
.message{
padding-top:7.62%;
padding-bottom:1.76% ;
padding-left:2.29% ;
padding-right:2.29%;
}
.messagePhoto{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 1px solid #979797;
}

.searchTerm:focus{
  color: black;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fa .fa-search{
color:#00B4CC;
}

.header{   
  height: 103px;    
  width: 100%;    
  background-color: #01B9BD ; 
  vertical-align: middle; 
  line-height: 103px;

}

.left-buttons{
    margin-left: 40px;
  }

  .user-name{
    height: 30px;	
    width: 201px;	
    color: #F3F3F3;	
    font-family: helvetica;	
    font-size: 20px;	
    line-height: 27px;
    margin-right:23px;
  }

  .profile-img{
    margin-right:23px;
    height: 54px;	
    width: 54px; 
    border-radius: 50%;
  }

.header-button{
  background-color: #0DABAF; 
  margin-right:24px;
  height: 54px;
  width: 143px;
  border-radius: 5px;
  background-color: #0DABAF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25);
}

 .button-label{
      height: 25px;
      width: 126px;
      color: #FFFFFF;
      font-family: helvetica;
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #004853;
}

.login {
  height: 644px;
  width: 533px;
  border-radius: 12px;
  background-color: #FDFDFD;
  margin-right: 454px;
  margin-left: 454px;
  margin-top: 174px;
  margin-bottom: 174px;
}

.welcome-to-the {
  height: 67px;
  width: 424px;
  color: #004853;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 500;
  line-height: 41px;
  text-align: center;
}

.welcome {
  padding-top: 60px;
  padding-left: 55px;
  padding-right: 55px;
}

.txtbox{
  padding-left: 72px;
  padding-right: 72px;
  margin-top: 20px;
}

.header {
  height: 103px;
  width: 100%;
  background-color: #01B9BD;
  vertical-align: middle;
  line-height: 103px;
}

.left-header-buttons {
  margin-left: 40px;
}

.user-name {
  height: 30px;
  width: 201px;
  color: #F3F3F3;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 27px;
  margin-right: 23px;
}

.profile-img {
  margin-right: 23px;
  height: 54px;
  width: 54px;
  border-radius: 50%;
}

.header-button {
  background-color: #0DABAF;
  margin-right: 24px;
  height: 54px;
  width: 143px;
  border-radius: 5px;
  background-color: #0DABAF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
}

.header-button-label {
  height: 25px;
  width: 126px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
}

.dropdown-button {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  margin-left: -40px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #FB6902;
}

.account-dropdown-button {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.account-dropdown {
  position: relative;
  display: inline-block;
}

.account-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  line-height: 20px;
}

.account-dropdown:hover .account-dropdown-content {
  display: block;
}

.account-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.account-dropdown-content a:hover {
  background-color: #f1f1f1
}

.register {
  height: 644px;
  width: 533px;
  border-radius: 12px;
  background-color: #01B9BD;
  margin-right: 454px;
  margin-left: 454px;
  margin-top: 174px;
  margin-bottom: 174px;
}

.login-bottom-bar {
  height: 103px;
  width: 533px;
  border-radius: 0 0 12px 12px;
  background-color: #01B9BD;
  margin-top: 163px;
  padding-top: 25px;
  padding-right: 107px;
  padding-left: 107px;
}

.no-account-yet-get {
  height: 27px;
  width: 100%;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 27px;
  text-align: "center";
}

.login-button {
  position: absolute !important;
  width: 200px !important;
  height: 50px !important;
  margin-top: 40px !important;
  margin-left: 90px !important;
  background-color: #FB6902 !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25) !important;
  border-radius: 6px !important;
}

.logo {
  width: 350px;
  margin-left: 42px;
}

.txtwhite {
  color: #FFFFFF !important;
}

.register-button {
  position: absolute !important;
  height: 57px !important;
  width: 197px !important;
  background-color: #0DABAF !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25) !important;
  color: #FFFFFF !important;
  align-content: center;
  margin-top: 40px !important;
  margin-left: 170px !important;
}

.circle-button {
  position: absolute !important;
  height: 270px !important;
  width: 270px !important;
  background-color: #D8D8D8 !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25) !important;
  align-content: center;
  border-radius: 200px !important;
  border: solid !important;
  border-color: #FFFFFF !important;
  border-width: 100px !important;
  margin-left: 55px !important;
  color: #979797 !important;
}

.register-step-two {
  position: absolute !important;
  height: 57px !important;
  width: 197px !important;
  background-color: #0DABAF !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25) !important;
  color: #FFFFFF !important;
  margin-top: 290px !important;
  margin-left: 160px !important;
}

.circle-div {
  padding-left: 72px;
  padding-right: 72px;
}

.skip {
  height: 27px !important;
  width: 100% !important;
  margin-top: 350px !important;
  color: #FFFFFF !important;
  font-family: Helvetica !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-align: "center" !important;
  margin-left: 100px !important;
}

.register-last-step {
  position: absolute !important;
  height: 57px !important;
  width: 197px !important;
  background-color: #0DABAF !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25) !important;
  color: #FFFFFF !important;
  margin-top: 220px !important;
  margin-left: 160px !important;
}

.skip-last-step {
  height: 27px !important;
  width: 100% !important;
  margin-top: 280px !important;
  color: #FFFFFF !important;
  font-family: Helvetica !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-align: "center" !important;
  margin-left: 100px !important;
}

.no-account-yet-get {
  height: 27px;
  width: 286px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 27px;
  text-align: "center";
}

.login-button {
  height: 57px !important;
  width: 197px !important;
  background-color: #FB6902 !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25) !important;
  color: #FFFFFF !important;
}