body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:  #004853;
}

.login{
  height:644px;
  width:533px;
  border-radius:12px;
  background-color:#FDFDFD;
  margin-right: 454px;
   margin-left: 454px; 
   margin-top: 174px;
  margin-bottom: 174px;
}
.btnReg{

  height: 57px !important;	
  width: 197px !important;		
  background-color: #0DABAF !important;	
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25) !important;
  color: #FFFFFF !important;
  align-content: center;
  
 
}
.btnLogin{	
  height: 57px !important;	
  width: 197px !important;		
  background-color: #FB6902 !important;	
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25) !important;
  color: #FFFFFF !important;
}
.Register{  
  height:644px;
  width:533px;
  border-radius:12px;
  background-color:#01B9BD ;
  margin-right: 454px; margin-left: 454px; margin-top: 174px; margin-bottom: 174px;

}

.welcome-to-the {	height: 67px;	
  width: 424px;	
  color: #004853;	
  font-family: "helvetica";	
  font-size: 30px;	
  font-weight: 500;	
  line-height: 41px;	
  text-align: center;
}

.welcome{
  padding-top: 60px;
  padding-left: 55px;
  padding-right: 55px;
}

.txtbox{
  padding-left: 72px;
  padding-right: 72px;
  color: #FFFFFF;
}

.rectangle-2 {	
  height: 103px;	
  width: 533px;	
  border-radius: 0 0 12px 12px;	
  background-color: #01B9BD;
  margin-top: 143px;
  padding-top: 25px;
  padding-right: 107px;
  padding-left: 107px;
  }
  .rectangle-3 {	
    height: 103px;	
    width: 533px;	
    border-radius: 0 0 12px 12px;	
    background-color: #01B9BD;
    margin-top: 200px;
    padding-top: 10px;
    padding-right: 70px;
    padding-bottom: 70;
    padding-left: 130px;
    }
  
