
.chatbox{
	padding-right:30px;
}

.bg{
    background-color: white;
   
}

.chatDiv{
    position: fixed;
    right:0;
    top:0;
    float: right !important;   
    background-color:white;
    height: 100% !important;
    width: 70%;
    z-index: -5;
}
.messageList {
    height:70%;
    width: 100%;
    margin:25px; 
    background-color: #fff;
    overflow:scroll;
}
.chatfield {
    width: 100%;
}
.addMessage {

        padding-bottom:5px;
    }
  
.text {
	height: 67px;
	width: 445px;
	color: #FFFFFF;
	font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
    padding-left: 10px;
}
.time {
	height: 18px;
	width: 35px;
	color: #75BECA;
	font-family: "Avenir Next";
	font-size: 13px;
    line-height: 18px;
    padding-top: 5px;
    padding-bottom: 15px;
	text-align: center;
}

.message{
    display: inline-block;
    background:rgb(1, 185, 189);
    color: white;
    border-radius: 5px;
    padding-bottom: 15px;
    width: 200px;
    word-wrap: break-word;


}
.time-copy {
	height: 18px;
	width: 35px;
	color: #75BECA;
	font-family: "Avenir Next";
	font-size: 13px;
	line-height: 18px;
    text-align: center;
    padding-top: 10px;
    padding-left: 280px; 
}
.edittext {
	height: 20px;
	width: 336px;
	color: #706F6F;
	font-family: "Work Sans";
	font-size: 17px;
    line-height: 20px;
    padding-top:10px;
    padding-left: 10px;
}

.addMessage {
    margin-bottom: 15px;
}
.mytext{
    border:0;
    padding:10px;
    background:whitesmoke;
    color: #000000;
 }
 .text{
    width:75%;
    display:flex;
    flex-direction:column;
 }
 .text > p:first-of-type{
    width:100%;
    margin-top:0;
    margin-bottom:auto;
    line-height: 13px;
    font-size: 12px;
 }

 .enterText {
	 padding-top: 300px;
 }
 
 .list {
  display: inline-block;
  list-style-type: none;
  margin-top: 100px;
  padding-top: 15px;
  position: fixed;
  
  }
  .p1 {
      padding-top: 10px;
      float: right;
  }
  .addText {
     margin-left: 50px;
  }
 