

  /* .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#fff;
 } */
 .rectangle-6-copy {
	height: 103px;
	width: 499px;
	border-radius: 22px;
	background-color: #01B9BD;
}
.chatbox{
	padding-right:30px;
}
.chatfield {
    width: 100%;
}
.bg{
    background-color: white;
}

.chatDiv{
    padding-top:50px;
    right: 0px;
    bottom: 0px;
    position: static;
    float: right;   
    background-color:white;
    height: 100%;
    width: 70%;
    padding-left:150px;
    padding-bottom:20px;
    
}
    .person2 {
        height: 187px;
        width: 499px;
    }
    .addMessage{
        padding-bottom:20px;
    }
  
.rectangle-6 {
	height: auto;
	width: 322px;
	border-radius: 24px;
	background-color: #01B9BD;
}
.text {
	height: 67px;
	width: 445px;
	color: #FFFFFF;
	font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
    padding-left: 10px;
}
.time {
	height: 18px;
	width: 35px;
	color: #75BECA;
	font-family: "Avenir Next";
	font-size: 13px;
    line-height: 18px;
    padding-top: 10px;
	text-align: center;
}
.rectangle-6-copy-2 {
	height: 43px;
	width: 317px;
	border-radius: 24px;
	background-color: #007D80;
}
.person2 {
	height: 78px;
    width: 481px;
    padding-top: 20px;
    margin-left: 405px;
    
}
.groups {
    padding-top: 100px;
    background-color: #fff;
}
.time-copy {
	height: 18px;
	width: 35px;
	color: #75BECA;
	font-family: "Avenir Next";
	font-size: 13px;
	line-height: 18px;
    text-align: center;
    padding-top: 10px;
    padding-left: 280px; 
}
.rectangle-6-copy-3 {
	height: 43px;
	width: 717px;
	border-radius: 24px;
	background-color: #EFF2F3;
}
.edittext {
	height: 20px;
	width: 336px;
	color: #706F6F;
	font-family: "Work Sans";
	font-size: 17px;
    line-height: 20px;
    padding-top:10px;
    padding-left: 10px;
}
.oval-2 {
	height: 54px;
	width: 54px;
	background-color: #D8D8D8;
}
.line-copy {
	box-sizing: border-box;
	height: 2.28px;
	width: 18px;
	border: 3px solid #979797;
	transform: rotate(90deg);
}
.plus {
	height: 19px;
	width: 18px;
}
.add {
   margin-right: 100px; 
}
.addMessage {
    padding-right: 200px;
}